# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on: [push, pull_request]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  #working on caches
  setup-python:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.9
      uses: actions/setup-python@v5
      with:
        python-version: 3.9
        cache: 'pip'
    - name: Setting up python
      run: pip install -r requirements.txt

  setup-plumed:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version:
          - master
          - stable
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      - name: calculate cache key for the compilation
        id: get-key
        run: |
          if [[ ${{ matrix.version }} = master ]];then
          mastersha=$(gh api repos/plumed/plumed2/branches --paginate --jq '.[] | select( .name | match("^master$")) | .commit.sha')
          echo "key=$mastersha" >> $GITHUB_OUTPUT
          echo "branch=master" >> $GITHUB_OUTPUT
          echo "suffix=_master" >> $GITHUB_OUTPUT
          else
          gh api repos/plumed/plumed2/branches --paginate --jq '.[] | select( .name | match("^v2.[0-9]{1,2}$")) | {name:.name, sha:.commit.sha}'  | jq -s 'sort_by ( .name | sub("v";"") | split (".") | map(tonumber))[-1]' > latest_version
          branch=$(cat latest_version | jq -r '.name')
          sha=$(cat latest_version | jq -r '.sha')
          echo "key=$sha" >> $GITHUB_OUTPUT
          echo "branch=$branch" >> $GITHUB_OUTPUT
          echo "suffix=" >> $GITHUB_OUTPUT
          fi
      - uses: actions/cache@v4
        with:
          path: |
            ~/.ccache
            ~/opt
          key: ccache-${{ runner.os }}-${{ matrix.version }}-${{ steps.get-key.outputs.key }}
          # restore-keys: ccache-${{ runner.os }}-${{ matrix.version }}
      - name: Set paths
        run: |
            echo "$HOME/opt/bin" >> $GITHUB_PATH
            echo "CPATH=$HOME/opt/include:$HOME/opt/libtorch/include/torch/csrc/api/include/:$HOME/opt/libtorch/include/:$HOME/opt/libtorch/include/torch:$CPATH" >> $GITHUB_ENV
            echo "INCLUDE=$HOME/opt/include:$HOME/opt/libtorch/include/torch/csrc/api/include/:$HOME/opt/libtorch/include/:$HOME/opt/libtorch/include/torch:$INCLUDE" >> $GITHUB_ENV
            echo "LIBRARY_PATH=$HOME/opt/lib:$HOME/opt/libtorch/lib:$LIBRARY_PATH" >> $GITHUB_ENV
            echo "LD_LIBRARY_PATH=$HOME/opt/lib:$HOME/opt/libtorch/lib:$LD_LIBRARY_PATH" >> $GITHUB_ENV
            echo "PYTHONPATH=$HOME/opt/lib/plumed/python:$PYTHONPATH" >> $GITHUB_ENV
            # needed to avoid MPI warning
            echo "OMPI_MCA_btl=^openib" >> $GITHUB_ENV
      #we need to checkout to access .ci/install.libtorch
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install mpi-default-bin mpi-default-dev
          sudo apt install libfftw3-dev gsl-bin libgsl0-dev libboost-serialization-dev
          sudo apt install ccache
          ccache -p
          ccache -s
          mkdir -p ~/.ccache/ccache
          .ci/install.libtorch
      - name: Install plumed
        uses: Iximiel/install-plumed@v1
        with:
          CC: "ccache mpicc"
          CXX: "ccache mpic++"
          suffix: "${{ steps.get-key.outputs.suffix }}"
          version: "${{ steps.get-key.outputs.branch }}"
          extra_options: --enable-boost_serialization --enable-fftw --enable-libtorch LDFLAGS=-Wl,-rpath,$LD_LIBRARY_PATH --disable-basic-warnings
      - name: prepare plumed tar
        run: |
          tar cf plumed-${{matrix.version}}.tar ~/opt/

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: plumed-${{matrix.version}}
          path: plumed-${{matrix.version}}.tar
          retention-days: 1

  build:
    needs: 
      - setup-python
      - setup-plumed
    strategy:
      matrix:
        replica: ["simplemd"] #["simplemd", "lammps", "quantum_espresso", "i-pi", "gromacs"]
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v4

    - uses: actions/cache@v4
      with:
        path: |
          ~/opt
          ~/.ccache
        key: ccache-${{ runner.os }}-${{ github.sha }}
        restore-keys: ccache-${{ runner.os }}-

    - name: Set up Python 3.9
      uses: actions/setup-python@v5
      with:
        python-version: 3.9
        cache: 'pip'
    - name: Download artifacts
      uses: actions/download-artifact@v4
      with:
        pattern: plumed-*
        merge-multiple: true

    - name: Set paths
      run: |
        echo "$HOME/opt/bin" >> $GITHUB_PATH
        echo "CPATH=$HOME/opt/include:$HOME/opt/libtorch/include/torch/csrc/api/include/:$HOME/opt/libtorch/include/:$HOME/opt/libtorch/include/torch:$CPATH" >> $GITHUB_ENV
        echo "INCLUDE=$HOME/opt/include:$HOME/opt/libtorch/include/torch/csrc/api/include/:$HOME/opt/libtorch/include/:$HOME/opt/libtorch/include/torch:$INCLUDE" >> $GITHUB_ENV
        echo "LIBRARY_PATH=$HOME/opt/lib:$HOME/opt/libtorch/lib:$LIBRARY_PATH" >> $GITHUB_ENV
        echo "LD_LIBRARY_PATH=$HOME/opt/lib:$HOME/opt/libtorch/lib:$LD_LIBRARY_PATH" >> $GITHUB_ENV
        echo "PYTHONPATH=$HOME/opt/lib/plumed/python:$PYTHONPATH" >> $GITHUB_ENV
        # needed to avoid MPI warning
        echo "OMPI_MCA_btl=^openib" >> $GITHUB_ENV

    - name: Setup PLUMED software
      run: |
        tar xvf plumed-stable.tar
        tar xvf plumed-master.tar
        sudo apt update
        sudo apt install mpi-default-bin mpi-default-dev gfortran
        sudo apt install libfftw3-dev gsl-bin libgsl0-dev libboost-serialization-dev
        sudo apt-get update
        pip install -r requirements.txt
        .ci/install.libtorch

    - name: Install interface code
      run: |
         # Build final version of script including head 
         cat tests/script_head tests/${{matrix.replica}}/install.sh > install.sh
         chmod u+x install.sh
         echo Building ${{matrix.replica}} with stable plumed
         # Build static interface to latest stable version of PLUMED
         ./install.sh mode=static > tests/${{matrix.replica}}/stdout.txt 2> tests/${{matrix.replica}}/stderr.txt
         ./tests/check_status.sh code=${{matrix.replica}} 
         echo Building ${{matrix.replica}} with master plumed
         # Build runtime interface to (what will be) master version of PLUMED
         ./install.sh mode=runtime suffix=_master > tests/${{matrix.replica}}/stdout_master.txt 2> tests/${{matrix.replica}}/stderr_master.txt
         ./tests/check_status.sh code=${{matrix.replica}}  suffix=_master
         echo Running setup install for ${{matrix.replica}}
         # And setup the installation pages with logs and details of scripts
         python setupInstall.py -c ${{matrix.replica}} 

    - name: Test code
      run: | 
         # Run the tests of the code with the stable version of PLUMED
         python runtests.py -c ${{matrix.replica}} -v stable
         # Run the tests of the code with the master version of PLUMED
         python runtests.py -c ${{matrix.replica}} -v master
         # Build tarball for upload 
         tar cf testout.tar tests/${{matrix.replica}}/*.md tests/${{matrix.replica}}/*.yml tests/${{matrix.replica}}/*.zip stable_version.md pages

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: testout-content${{matrix.replica}}
        path: testout.tar
        retention-days: 1

  # This is the job that uploads the website
  upload:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    needs: build

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v4
    - name: Download artifacts
      uses: actions/download-artifact@v4
    - name: Prepare for upload
      run: |
        # This extracts the data that was uploaded to the artifacts
        bash .ci/extract
        # This builds the page with the results of the tests
        python build.py
        # This pushes everything to the final website 
        #TODO: change push to "prepare"
        bash .ci/prepare _config.yml _layouts _data assets pigeon.png plumed.md nest.png contribute.md browse.md Info.md treadmill.png
  
    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v4
      if: github.ref == 'refs/heads/main'
      with:
          external_repository: plumed-testcenter/plumed-testcenter.github.io
          publish_branch: master
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          publish_dir: ./tmp/deploy
          force_orphan: true
          enable_jekyll: true
          user_name: 'PlumedBot'
          user_email: 'giovanni.bussi+plumedbot@gmail.com'
          
